<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="container-row">
        <ul class="transport-tabs">
          <li class="selected">
            <i>
              <img src="assets/icons/bus.svg" alt="" />
            </i>
            <a href="#" class="bus"> <span>Otobüs</span></a>
          </li>
          <li class="plane">
            <i>
              <img src="assets/icons/plane.svg" alt="" />
            </i>
            <a href="#" class="plane-text">
              <span class="planetext">Uçak</span></a
            >
          </li>
        </ul>
        <div class="search-content">
          <div class="search-form">
            <div class="input-row">
              <i>
                <img src="assets/icons/kalkıs.svg" alt="" />
              </i>
              <div class="text-container">
                <h4 for="from">Kalkış Noktası</h4>
                <p class="ex">İstanbul Avrupa</p>
              </div>
            </div>
            <hr class="line" />
            <div class="input-row">
              <i>
                <img src="assets/icons/varıs.svg" alt="" />
              </i>
              <div class="text-container">
                <h4 for="to">Varış Noktası</h4>
                <p class="ex">Ankara</p>
              </div>
            </div>
          </div>

          <div class="date-row">
            <div class="travel">
              <i>
                <img src="assets/icons/date.svg" alt="" />
              </i>
              <h4>Seyahat Tarihi</h4>
              <p>12 Mayıs 2022 Perşembe</p>
              <hr class="line" />
              <div class="buttons">
                <button class="today"><span>Bugün</span></button>
                <button class="tomorrow"><span>Yarın</span></button>
              </div>
            </div>
          </div>
        </div>

        <button class="search-btn">
          <p class="bilet-text">
            Banabibilet<span class="bul-text"> bul</span>
          </p>
          <i>
            <img src="assets/icons/next.svg" alt="" />
          </i>
        </button>
      </div>

      <div class="hero-text">
        <p class="text1">Hayallerini erteleme!</p>
        <p class="text2">Sen nereye banabibilet.com oraya!</p>
      </div>
    </div>
  </div>
</section>
