.header {
background: var(--color-base-color-white, #fff);
box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.10);
margin: 20px 0px;
padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    padding-left: 15px;
    padding-right: 15px;
}

.logo {  
    order: 2; 
}

.navigation {
    order: 1; 
}

.navigation-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.navigation-item {
    padding-left: 15px;
    padding-right: 15px;
}

.navigation-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.navigation-link img {
    margin-right: 5px; 
}

.account-button {
    order: 3; 
}

@media screen and (max-width: 768px) {
    .column {
        flex: 1 1 100%; 
    }

    .navigation {
        order: 2;
        margin-top: 15px;
    }
}


.button{
display: flex;
padding: 11px 24px;
align-items: flex-start;
gap: 8px;
border-radius: 100px;
background: #27AE60;
color:#fff;
border: none;
}
button:hover{
    cursor: pointer;
}
.account{
    margin-left: 5px;
}
.phone{
color: #0E479C;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
letter-spacing: 0.8px;
}