<header class="header">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="row">
                <a href="/" class="logo" aria-label="logo" title="logo" ></a>
                <img src="assets/icons/logo.svg" alt="">
                </div>
            </div>

            <div class="column">
                <nav class="navigation">
                    <ul class="navigation-list">
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">
                                <i>
                                <img src="assets/icons/receipt.svg" alt="">
                                </i>
                                <span>Bilet İşlemleri</span> 
                                 <i>
                                <img src="assets/icons/down.svg" alt="">
                                </i>
                            </a>
                        </li>
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">
                                <i>
                                <img src="assets/icons/receipt-search.svg" alt="">
                                </i>
                              <span>Bilet (PNR) Sorgula</span>  
                            </a>
                        </li>
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">
                              <i>
                                <img src="assets/icons/employee.svg" alt="">
                                </i>
                               <span class="phone">444 0 375</span> 
                            </a>
                        </li>
                        <li class="navigation-item">
                            <button href="#" class="button">
                                <i>
                                    <img src="assets/icons/person.svg" alt="">
                                </i>
                                 <span class="account">Hesabım</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
