<section class="questions">
  <div class="container">
    <h2 class="main-title">Sıkça Sorulan Sorular</h2>
    <div class="row">
      <div class="flex-container">
        <div class="flex-item">
          <div class="card">
            <p class="title">
              Biletimi kolayca iade edebilir miyim?<br />
              Bilet iptali kesintisi var mı?
            </p>
            <hr class="line" />
            <p class="text">
              Nam exercitationem commodi et ducimus quia in dolore animi sit
              mollitia amet id quod eligendi. Et labore harum non nobis ipsum
              eum molestias mollitia et corporis.
              <a href="#" class="other-text">Devamını Oku.</a>
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="card">
            <p class="title">
              Biletimi nasıl iptal edebilirim? Bilet iptallerinde ücret
              kesintisi var mı?
            </p>
            <hr class="line" />
            <p class="text">
              Nam exercitationem commodi et ducimus quia in dolore animi sit
              mollitia amet id quod eligendi. Et labore harum non nobis ipsum
              eum molestias mollitia et corporis.<a href="#" class="other-text"
                >Devamını Oku.</a
              >
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="card">
            <p class="title">
              Biletimi iptal ettim. Param hesabıma <br />
              ne zaman yatacak?
            </p>
            <hr class="line" />
            <p class="text">
              Nam exercitationem commodi et ducimus quia in dolore animi sit
              mollitia amet id quod eligendi. Et labore harum non nobis ipsum
              eum molestias mollitia et corporis.
              <a href="#" class="other-text">Devamını Oku.</a>
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="card">
            <p class="title">Biletimi kolayca iade edebilir miyim?<br /></p>
            <hr class="line" />
            <p class="text">
              Nam exercitationem commodi et ducimus quia in dolore animi sit
              mollitia amet id quod eligendi. Et labore harum non nobis ipsum
              eum molestias mollitia et corporis.
              <a href="#" class="other-text">Devamını Oku.</a>
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="card">
            <p class="title">Biletimi kolayca iade edebilir miyim?<br /></p>
            <hr class="line" />
            <p class="text">
              Nam exercitationem commodi et ducimus quia in dolore animi sit
              mollitia amet id quod eligendi. Et labore harum non nobis ipsum
              eum molestias mollitia et corporis.
              <a href="#" class="other-text">Devamını Oku.</a>
            </p>
          </div>
        </div>

        <div class="flex-item">
          <div class="card">
            <p class="title-dif">Biletimi kolayca iade edebilir miyim?<br /></p>
            <hr class="line" />
            <p class="text">
              Nam exercitationem commodi et ducimus quia in dolore animi sit
              mollitia amet id quod eligendi. Et labore harum non nobis ipsum
              eum molestias mollitia et corporis.
              <a href="#" class="other-text">Devamını Oku.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-content">
      <div class="text-item">
        <h2 class="help-text">Daha fazla sorun mu var?</h2>
        <p class="help-text2">
          Tüm sorularına cevap bulabileceğin sıkça sorulan sorular sayfamızı
          ziyaret edebilirsin.
        </p>
      </div>
      <button class="question-button">Sıkça Sorulan Sorular</button>
    </div>
  </div>
</section>
