<footer>
  <div class="info">
    <div class="info-text">
      <i>
        <img src="assets/icons/kilit.svg" alt="" />
      </i>
      <h3>Güvenli Ödeme</h3>
      <p>256bit SSL sertifikası</p>
    </div>
    <div class="info-text">
      <i>
        <img src="assets/icons/Coffee.svg" alt="" />
      </i>
      <h3>Hızlı Satış</h3>
      <p>Online hızlı satış işlemi</p>
    </div>
    <div class="info-text">
      <i>
        <img src="assets/icons/tag.svg" alt="" />
      </i>
      <h3>Bilet Satışında Güven</h3>
      <p>Güvenilir firmalar yanınızda!</p>
    </div>
    <div class="info-text">
      <i>
        <img src="assets/icons/kilit.svg" alt="" />
      </i>
      <h3>%100 Memnuniyet</h3>
      <p>Kolay iptal ve iade imkanı</p>
    </div>
  </div>
  <div class="content">
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Otobüs Bileti</li>
        <li><a href="#">Ucuz Otobüs Bileti</a></li>
        <li><a href="#">Otobüs Bilet Satın Al</a></li>
        <li><a href="#">Uçak Bileti Satın Al</a></li>
        <li><a href="#">En Uygun Bilet</a></li>
        <li><a href="#">Ucuz Bilet Fiyatları</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Popüler Firmalar</li>
        <li><a href="#">Kamil Koç</a></li>
        <li><a href="#" class="pamukkale">Pamukkale</a></li>
        <li><a href="#">Metro</a></li>
        <li><a href="#">Ulusoy</a></li>
        <li><a href="#">Efe Tur</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">Banabibilet.com</li>
        <li><a href="#">Gizlilik ve Güvenlik</a></li>
        <li><a href="#">KVKK Aydınlatma Metni</a></li>
        <li><a href="#">Bilet Sorgulama</a></li>
        <li><a href="#">İptal ve Değişim</a></li>
        <li><a href="#">Otobüs Kullanım Koşulları</a></li>
      </ul>

      <ul class="box">
        <li class="link_name">Her Zaman Yanınızdayız!</li>
        <li><a href="#">Bilet Satış & Destek</a></li>
        <li>
          <a href="#">
            <i>
              <img src="assets/icons/headset-help.svg" alt="" />
            </i>
            <span class="tel">444 26 04</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i>
              <img src="assets/icons/bx_bx-phone-call.svg" alt="" />
            </i>
            <span class="phone"> 0(850) 242 35 20</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i>
              <img src="assets/icons/alternate_email.svg" alt="" />
            </i>
            <span class="mail">destek@banabibilet.com</span>
          </a>
        </li>
        <li class="icons">
          <a href="#">
            <i>
              <img src="assets/icons/facebook.svg" alt="" />
            </i>
            <i>
              <img src="assets/icons/twitter.svg" alt="" />
            </i>
            <i>
              <img src="assets/icons/linkedin.svg" alt="" />
            </i>
            <i>
              <img src="assets/icons/youtube.svg" alt="" />
            </i>
            <i>
              <img src="assets/icons/instagram.svg" alt="" />
            </i>
            <i>
              <img src="assets/icons/pinterest.svg" alt="" />
            </i>
            <i>
              <img src="assets/icons/telegram.svg" alt="" />
            </i>
          </a>
        </li>
      </ul>
      <ul class="box-2">
        <div class="contact-icons">
          <a href="#">
            <i>
              <img src="assets/icons/whatsapp.svg" alt="" />
            </i>
          </a>
          <a href="#">
            <i>
              <img src="assets/icons/Ellipse 1.svg" alt="" />
            </i>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text"></div>
  </div>
</footer>
