<section class="iconset">
  <div class="container">
    <div class="row">
      <div class="card">
        <i>
          <img src="assets/icons/timer.svg" alt="" />
        </i>
        <p class="title">Bi Tıkla Biletini Al</p>
        <p class="text">
          Banabibilet.com web sitesi veya mobil uygulaması üzerinden biletinizi
          anında alabilirsiniz.
        </p>
      </div>
      <div class="card">
        <i>
          <img src="assets/icons/lock.svg" alt="" />
        </i>
        <p class="title">Güvenli Ödeme</p>
        <p class="text">
          256 Bit SSL Sertifikasına sahip altyapımız ile %100 güvenli ödeme
          yapabilirsiniz.
        </p>
      </div>
      <div class="card">
        <i>
          <img src="assets/icons/refresh.svg" alt="" />
        </i>
        <p class="title">Kesintisiz İade</p>
        <p class="text">
          İptal edilmiş olan biletiniz için kesintisiz bir şekilde iade işlemi
          gerçekleşir.
        </p>
      </div>
      <div class="card">
        <i>
          <img src="assets/icons/wellness.svg" alt="" />
        </i>
        <p class="title">Güvenilir Firmalar</p>
        <p class="text">
          Yüzlerce güvenilir firma ve uygun fiyat seçenekleriyle istediğiniz
          bileti istediğiniz firmadan anında alın!
        </p>
      </div>
    </div>
  </div>
</section>
